<h1> ¿Qué es un Quiz </h1>

<p> Un quiz es una red social para crer adivinanzas donde múltiples usuarios pueden compartirlas.</p>

<h1> ¿Cómo se responde?</h1>

<p> Se responde mediante una caja donde podemos poner la respuesta de la adivinanza y comprobar mediante un botón si la respuesta es correcta o incorrecta.</p>

<h1> ¿Cuál es el objetivo del portal? </h1>

<p> EL objetivo del portal es hacer un proyecto educativo para entender la arquitectura de una aplicación Web del lado servidor, la metodología de desarrollo y los elementos más importantes de un portal Web.</p>
